* {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 2.3vw;
}

body {
    padding: 0.2em 1.5em;
}

h1, h2 {
    font-size: 4.5vw;
}

h3 {
    font-size: 3vw;
}

ul {
    padding: 0;
}

ul > li {
    list-style: none;
    list-style-position: outside;
}

a {
    font-size: 3vw;
    text-decoration: none;
    color: rgb(0, 108, 249);
}

code:before {
    content: "$ ";
    color: orange;
}

code:after {
    content: "_";
    font-weight: bolder;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

code {
    background-color: #000;
    color: #fff;
    padding: 0.5em 0.5em;
    width: 100%;
    display: block;
}

@keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}